.modalPosition {
  position: relative !important;
  overflow: initial;
}

.buttonWidth {
  width: 90.48px;
}

.imagePosition {
  display: table !important;
}

.h2Style {
  color: #ffffff !important;
}